body {
    background-color: rgb(173, 190, 204);
}

.card {
    background-color: white;
    text-align: center;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qr-image {
    display: block;
    width: 300px;
    margin: 0 auto;
}